.footer-title {
    margin-bottom: 20px;

    font-family: var(--major-font-family);
    font-style: 400;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--major-color-light);
}